version: '3.9'

services:
  server:
    build:
      context: ./backend
    container_name: fastapi-server
    expose:
      - "4000"
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    build:
      context: ./frontend
    container_name: react-client
    ports:
      - "5174:80"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
